body{
    margin: 0;
    padding: 0;
}

.cookie-container{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.cookie-container p{
    margin: 0;
    font-size: 14px;
    color: #333;
}

.cookie-container button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}